@model List<SocialMedia>
@{
    ViewData["Title"] = "SocialMediaList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>URL</th>
        <th>Icon</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.SocialMediaUrl</td>
            <td>@item.SocialMediaIcon</td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-info">Güncelle</a></td>
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
        </tr>
    }

</table>
<br />
<td><a href="/SocialMedia/CreateSocialMedia/" class="btn btn-primary">Yeni Sosyal Medya Ekle</a></td>